.main_container_calculator1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    padding: 50px 150px;
}

.main_box_calculator1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.top_section_calculator1 {
    width: 100%;
    padding: 40px 60px;
    background-color: var(--primary-dark);
}

.top_section_calculator1 p {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color: var(--white-color);
}

.middle_section_calculator1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 10px;
    padding: 30px 0;
}

.middle_section_calculator1 h4 {
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    color: var(--primary-dark);
    text-align: center;
}

.middle_section_calculator1 p {
    font-size: 18px;
    line-height: 26px;
    /* font-weight: 500; */
    color: var(--heading-color);
    text-align: center;
    margin-top: 20px;
}